script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js")
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/javascripts/feed.js")
script(type="text/javascript", src="/models")
script(type="text/javascript", src="/javascripts/underscore-min.js")

script= "var sid='"+sid+"'"

#message

#board
  #spot0.spot.deck
  #spot1.s0.spot.discard
  #spot2.s1.spot.discard
  #spot3.s2.spot.discard
  #spot4.s3.spot.discard
  #spot5.s4.spot.discard
  #spot6.s0.spot.p1
  #spot7.s1.spot.p1
  #spot8.s2.spot.p1
  #spot9.s3.spot.p1
  #spot10.s4.spot.p1
  #spot11.s0.spot.p2
  #spot12.s1.spot.p2
  #spot13.s2.spot.p2
  #spot14.s3.spot.p2
  #spot15.s4.spot.p2

#playerinfo
  form#addPlayer
    input(name="name")
    button#addPlayer Join
  #players

script!= "updateGame("+JSON.stringify(game)+")"
