script(type="text/javascript", src="http://code.jquery.com/jquery-latest.min.js ")
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/javascripts/feed.js")
script(type="text/javascript", src="/models")
script(type="text/javascript", src="/javascripts/underscore-min.js")

script= "var sid='"+sid+"'"

h1 Lost Cities

#message

table#board
  tr#discard
    td#spot0
      #deck
    td#spot1
    td#spot2
    td#spot3
    td#spot4
    td#spot5
  tr#p1
    td
    td#spot6
    td#spot7
    td#spot8
    td#spot9
    td#spot10
  tr#p2
    td
    td#spot11
    td#spot12
    td#spot13
    td#spot14
    td#spot15

#playerinfo
  form#addPlayer
    input(name="name")
    button#addPlayer Join
    p= game.id?"Enter your name to join the game":"Enter your name to create a game"
  #players

script!= "updateGame("+JSON.stringify(game)+")"
