body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.spot {
  position: absolute;
  width: 90px; height: 190px;
  border: 1px solid black;
  margin: 5px;
}

.worth {
  position: absolute;
  text-align: right;
  top: 170px;
  width: 90px;
}

#board {
  width:600px;
  height:600px;
  position: relative;
  float:left;
}
#playerinfo {
  float:left;
}
#players a {
  padding-left: 6px;
}

#spot0 {
  left: 0px;
  top: 200px;
  background-color: #ccc;
}
div.card {
  width: 100px;
  float:left;
}
.playcard{
  float:left;
}
.spot span {
  border-bottom: 1px solid black;
  display: block;
  text-align: center;
}
.card.s0 {
  background-color: #fcc;
}
.card.s1 {
  background-color: #fff;
}
.card.s2 {
  background-color: #cfc;
}
.card.s3 {
  background-color: #ef9;
}
.card.s4 {
  background-color: #ccf;
}
.spot.s0 {
  left: 100px;
  background-color: #fcc;
}
.spot.s1 {
  left: 200px;
  background-color: #fff;
}
.spot.s2 {
  left: 300px;
  background-color: #cfc;
}
.spot.s3 {
  left: 400px;
  background-color: #ef9;
}
.spot.s4 {
  left: 500px;
  background-color: #ccf;
}
.spot.discard {
  top: 200px;
}
.spot.p1 {
  top: 400px;
}
.spot.p2 {
  top: 0px;
}
