body {
  padding: 10px 50px;
  background-image: url('/images/parchment.jpg');
}
body, button, input {
  font: 14px "Georgia", Helvetica, Arial, sans-serif;
}

a {
  color: #43a;
}

h1 {
  width: 640px;
  text-align: center;
  margin: 0 0 6px;
}
#message {
  border: 1px solid #aaa;
  background: white;
  color: #666;
  width: 640px;
  padding: 4px;
  border-radius: 4px;
  height: 20px;
  margin-bottom: 10px;
}
ul#games {
  border: 1px solid #aaa;
  background: white;
  color: #666;
  width: 640px;
  padding: 14px 10px;
  border-radius: 4px;
}
ul#games li {
  list-style-type: none;
}

.spot {
  position: absolute;
  width: 80px; height: 190px;
  border: 1px solid #aaa;
  margin: 5px;
  overflow: auto;
}

.worth {
  text-align: right;
  width: 100%;
  color: #666;
  font-size: 8px;
}
#playerinfo {
  margin-left: 15px;
  float:left;
}
#players a {
  display: block;
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}
.s0, .red {
  background-image: -moz-linear-gradient(bottom, #c99, #fcc);
  background-image: -webkit-linear-gradient(bottom, #c99, #fcc);
  background-color: #fcc;
  font-weight: bold;
  color: #600;
}
.s1, .white {
  background-image: -moz-linear-gradient(bottom, #ccc, #fff);
  background-image: -webkit-linear-gradient(bottom, #ccc, #fff);
  background-color: #fff;
  font-weight: bold;
  color: #666;
}
.s2, .green {
  background-image: -moz-linear-gradient(bottom, #9c9, #cfc);
  background-image: -webkit-linear-gradient(bottom, #9c9, #cfc);
  background-color: #cfc;
  font-weight: bold;
  color: #060;
}
.s3, .yellow {
  background-image: -moz-linear-gradient(bottom, #bc5, #ef9);
  background-image: -webkit-linear-gradient(bottom, #bc5, #ef9);
  background-color: #ef9;
  font-weight: bold;
  color: #450;
}
.s4, .blue {
  background-image: -moz-linear-gradient(bottom, #99c, #ccf);
  background-image: -webkit-linear-gradient(bottom, #99c, #ccf);
  background-color: #ccf;
  font-weight: bold;
  color: #006;
}

table#board {
  float:left;
  border: none;
}
table#board tr {
  height: 100px;
  vertical-align: top;
}
table#board td {
  width: 80px;
  padding: 5px;
  border: none;
}
table#board td span, div.card {
  border: 1px solid #aaa;
  border-bottom-width: 0px;
  display: block;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding-bottom: 2px;
  margin-top: -2px;
}
table#board td span:nth-last-of-type(1), div.card:nth-last-of-type(1) {
  border-bottom-width: 1px;
  height: 100px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
#deck {
  height: 100px;
  border: 1px solid #aaa;
  background-color: #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 62px;
  color: #666;
}

div.card {
  width: 80px;
}
div.card span {
  background: none;
}
.playcard{
    display: block;
    height: 50px;
    width: 70px;
    margin: 5px;
    text-align: center;
}

button, input {
  border: 1px solid #aaa;
  border-radius: 4px;
  background-image: -moz-linear-gradient(bottom, #eef, #99a);
  background-image: -webkit-linear-gradient(bottom, #eef, #99a);
  background-color: #fcc;
  font-weight: bold;
  color: #332;
  padding: 4px 2px;
}